---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
// :root {
//   --gutter: 2em;
//   --s-xs: .25em;
//   --s-sm: .5em;
//   --s-md: 1em;
//   --s-lg: 2em;
//   --s-xl: 4em;
//   --s-xxl: 8em;
// }

@import
        "variables",
        "base"
;


// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.container{
  //mix-blend-mode: multiply;
}

div.blueprint{
  margin:auto;
  position:relative;
  overflow: hidden;
  //max-width: 72em+2vw;
  padding-top:$space-xl;
  padding-bottom: $space-xl;
  &:before{
    border-left:1px dashed;
    content:' ';
    position:absolute;
    height:100%;
    opacity:.15;
    top:0;
    left:0;
    z-index:0;
  }
  &:after{
    border-right:1px dashed;
    content:' ';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    opacity:.15;
  }
}

h2.blueprint{
    &:after{
      content:' ';
      position:absolute;
      z-index:-1;
      width:100vw;
      left:0;
      border-bottom:1px dashed;
      transform:translateY(-4.75rem);
      opacity:.1;
    }
}

.button{

}
.floating-button{

  //transform: translateY(-2rem);
  //background-color: white;
}

.toggle-button{
  align-self: center;
  display:inline-block;
  border-radius:$space-l;
  margin:$space-l 0;
  padding: $space-s $space-l;
  box-shadow: 0 0 0 2px;
  text-decoration:none;
  transition: all .1s;
  background-color:transparent;
  &:hover{
    //border: 2px solid;
    text-decoration:none;
    //box-shadow: 0 16px 32px -8px rgba(0,0,0,.15);
    //transform: translateY(-1px);
  }
}
.external-cta{
  border: 2px solid;
  display:inline-block;
  border-radius:$space-l;
  padding: $space-m $space-xl $space-m $space-l;
  text-decoration:none;
  transition:all .1s ease-in-out;
  position:relative;
  .arrow{
    border:2px solid transparent;
    box-shadow: 0 0 0 2px ;
    border-radius:$space-l;
    //border: 2px dotted;
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    line-height: 2;
    font-size: 1.5em;
    transition: all .1s ease-in-out;
  }
  &:hover{
    //background-color:rgba(255,255,255,.1);
    .arrow{
      transform: rotate(-45deg);
    }
  }
}

// CUSTOM TYPOGRAPHY
.list-style-none{
  list-style: none;
}
.verb{
  position:relative;
  display:inline-block;
  font-weight:normal;
  border-top: 4px solid;
  padding-top:$space-s;
  margin-top:$space-l;
  margin-bottom:$space-m;
  font-size: .875rem;

  @include breakpoint(s) {
    font-size: .875rem;
    font-size: calc(12px + (24 - 12) * ((100vw - 400px) / (1440 - 400)));
  }

  // &:before{
  //   content:' ';
  //   position:absolute;
  //   z-index:0;
  //   width:100vw;
  //   left:0;
  //   border-top:1px dashed;
  //   //transform:translateY(-4.75rem);
  //   opacity:.1;
  // }
}

.number{
  font-family: 'alternate-gothic-no-1-d', "Roboto Condensed", "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  //font-size:8em;
  //font-size: 32vw;
  //font-size: calc(3em + 1vw);
  font-size:2em;
  font-size: calc(96px + (320 - 96) * ((100vw - 400px) / (1440 - 400)));
  //font-size: calc(1em + (1.25 - 1) * ((100vw - 20em) / (80 - 20)));
  // @include breakpoint(s) {
  //   font-size: 10rem;
  // };
  // @include breakpoint(m) {
  //   font-size: 16rem;
  // };
  // @include breakpoint(l) {
  //   font-size: 20rem;
  // };
  // @include breakpoint(xl) {
  //   font-size: 24rem;
  // };
  line-height: 1;
  font-weight:normal;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke: 2px;
  -webkit-text-stroke: .25vw;
  background: repeating-linear-gradient(135deg, currentColor 6px, currentColor 8px, transparent 8px, transparent 12px);
  background: repeating-linear-gradient(135deg, currentColor 1vw, currentColor 1.15vw, transparent 1.2vw, transparent 1.5vw);
  -webkit-background-clip: text;
  box-sizing: border-box;
  margin-bottom: -.235em;
  &:before{
    content:' ';
    position:absolute;
    z-index:-1;
    width:100vw;
    left:0;
    border-bottom:1px dashed;
    transform: translateY(.09em);
    opacity:.1;
  }
}

.unit{
 font-weight:normal;
 font-size:2em;
 font-size: calc(32px + (64 - 32) * ((100vw - 400px) / (2000 - 400)));
 //position:relative;
 padding-top:2rem;
 padding-bottom:2rem;
 @include breakpoint(s) {
  // font-size: 2em;
 };
 margin-bottom:$space-l;
 &:before{
   content:' ';
   position:absolute;
   z-index:-1;
   width:100vw;
   margin-top:-2rem;
   left:0;
   border-bottom:1px dashed;
   opacity:.1;
 }
}

.number-summary{
  font-family: 'alternate-gothic-no-1-d', "Roboto Condensed", "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  //-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  //-webkit-text-stroke: 1px;
  font-size:4rem;
  //font-size: calc(64px + (96 - 64) * ((100vw - 400px) / (2000 - 400)));
  background:none;
}
.unit-summary{
  font-size:1em;
  font-weight:normal;
}

img{
  max-width:100%;
  border-radius:8px;
}


.name, h4{
  //font-size:1.5rem;
  font-size: 1rem;
  font-size: calc(16px + (20 - 16) * ((100vw - 400px) / (1440 - 400)));
  font-weight:600;
  margin-bottom:0;
}
.route{
  font-size:1rem;
  margin-bottom:$space-m;
  opacity:.7;
}






.wheel{
  transform-origin: center;
}


// JAVASCRIPT BASED classes
#LogoContainer{
  width:$space-l;
  @include breakpoint(m){
    width:$space-xl;
  }
  @include breakpoint(l){
    width:6em;
    width:6vw;
  }
}
#Logo{
  border-radius:50%;
  background-color:rgba(0,0,50,.25);
}
.block{
  transition:all .15s ease;
  cursor:zoom-in;
  .hidden{
    max-height:0;
    opacity:0;
    //overflow:hidden;
  }
}
.block.fullScreen{
  display:block;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: white;
  padding:2rem 1rem;
  width:100%;
  height:100%;
  overflow-y:scroll;
  z-index:999;
  cursor:zoom-out;
  // box-shadow:0 16px 32px -8px rgba(0,0,0,.25);
  .expandableToggle{
    display:none;
  }
  .hidden{
    max-height:100%;
    opacity:1;
    //overflow:auto;
  }
}
.expandable{
  transition:all .25s ease;

}
.expandable.open{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow-y:scroll;
}
.toggleText{

}
.toggleText.expanded{
  background-color:#E2F4FF;
  border:0;
}
.expandableText,
.interviewText{
  max-height: 100%;
  opacity: 1;
  transition: all .15s ease;
}
.expandableText.hidden,
.interviewText.hidden{
  opacity:0;
  max-height: 0;
}

.scrollArrow{
  display:inline-block;
  animation: bounce 2s ease infinite ;
}
@keyframes bounce{
  0%{
    transform:translateX(0);
  }
  50%{
    transform:translateX(1em);
  }
  100%{
    transform:translateX(0);
  }
}
