<footer class="container bg-blue-50 white">
  <div class="blueprint">
    <div class="row items-start">
      <div class="col col-12 xl-col-6">
        <h2 class="h3 caps ">Learn More</h2>
        <ul class="list-reset cf">
          <li class="inline-block pr-m mb-m">  <a class="white mar-r-m" href="https://bikeandbuild.org/ride/apply/"> Apply  &rarr;</a></li>
          <li class="inline-block pr-m mb-m">  <a class="white mar-r-m" href="mailto:info@abikeandbuild.org"> Contact Us &rarr;</a></li>
          <li class="inline-block pr-m mb-m">  <a class="white mar-r-m" href="https://bikeandbuild.org/impact/strategic-plan/"> Read Our Strategic Plan &rarr;</a></li>
        </ul>
      </div>
      <div class="col col-12 xl-col-6">
        <h2 class="h3 caps ">Connect</h2>
        <ul class="list-reset cf">
          <li class="inline-block pr-m mb-m"> <a class="white" href="http://instagram.com/bikeandbuild" target=_blank> Instagram &rarr; </a> </li>
          <li class="inline-block pr-m mb-m"> <a class="white" href="http://twitter.com/bikebuild" target=_blank> Twitter &rarr; </a> </li>
          <li class="inline-block pr-m mb-m"> <a class="white" href="https://www.facebook.com/bikeandbuild" target=_blank>  Facebook &rarr;</a> </li>
          <li class="inline-block pr-m mb-m"> <a class="white" href="https://www.youtube.com/user/bikeandbuild" target=_blank> Youtube &rarr; </a> </li>
          <li class="inline-block pr-m mb-m"> <a class="white" href="http://www.snapchat.com/add/bikeandbuild" target=_blank> Snapchat &rarr; </a> </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 pt-l">
        <small style="opacity:0.5">
          All content © Bike & Build and respective owners 2019.<br>
          Site by <a class="white" href="http://alexbloom.co" target="_blank">Alex Bloom.</a>
        </small>
      </div>
    </div>
  </div>
</footer>
