@import
  "reset/normalize",
  "layout/layout"
;
/*
  BOX SIZING

  A saner box-model.
  Only applied to unqualified elements where this model makes sense.
  Apply .border-box where needed.
*/
nav,
main,
section,
article,
aside,
header,
footer,
div,
details,
summary,
form,
fieldset,
textarea,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"],
nav:before,
main:before,
section:before,
article:before,
aside:before,
header:before,
footer:before,
div:before,
details:before,
summary:before,
form:before,
fieldset:before,
textarea:before,
input[type="text"]:before,
input[type="tel"]:before,
input[type="url"]:before,
input[type="email"]:before,
input[type="search"]:before,
input[type="number"]:before,
input[type="password"]:before,
nav:after,
main:after,
section:after,
article:after,
aside:after,
header:after,
footer:after,
div:after,
details:after,
summary:after,
form:after,
fieldset:after,
textarea:after,
input[type="text"]:after,
input[type="tel"]:after,
input[type="url"]:after,
input[type="email"]:after,
input[type="search"]:after,
input[type="number"]:after,
input[type="password"]:after,
.border-box,
.border-box:before,
.border-box:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


// BODY
html{
  font-size: 16px;
  font-size: 1em;
  scroll-behavior: smooth;
}
body{
  font-family: 'canada-type-gibson', -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif ;
  font-size: 1em;
  font-weight:400;
  //padding:var(--gutter);
}

// TYPOGRAPHY
h1,h2,h3,h4,h5,h6,p{
  margin-bottom:$space-s;
}
h1,h2,h3,h4,h5,h6{
  font-weight:600;
}
h1{
  font-size:2em;
}
h2{
  font-size:2em;
}
h3{
  font-weight:600;
  font-size:.875rem;
  text-transform:uppercase;
  letter-spacing: .1em;
  line-height:2rem;
}
p{
  line-height:1.5;
}
.bold, strong{
   font-weight:600;
}
.measure{
  max-width:32em;
}
.measure-narrow{
  max-width:24em;
}
.text-left{
  text-align:left;
}
.text-center{
  text-align: center;
}

// BORDERS
.border-top-thick{
  border-top:4px solid;
}
.border{
  border:1px solid;
}

// Border Radius
.circle{
  border-radius: 50%;
  overflow: hidden;
}
.rounded{
  border-radius:$space-s;
}
.shadow{
  box-shadow:0 16px 32px -8px rgba(0,0,0,.25);
}


// TABLES

table{
  text-align:left;
  width:100%;
}

table{
 border-spacing: 0;
 margin: $space-m 0;
 padding: 0;
 //border: 1px solid;
 border-collapse: separate;
 border-spacing: 0;
 max-width: 100%;
 width: 100%;
}
table.blue-80{
  thead{
    background-color:#101B42;
    color:white;
  }
}
table.red-50{
  thead{
    background-color:#FF0000;
    color:white;
  }
}
  th:first-child{
    //width:50%;
    text-align:left;
  }
  td:first-child{
    //width:50%;
    text-align:left;
  }
  th{
    text-align:right;
  }
  td{
    font-family: Roboto Mono, Source Code Pro, SFMono, menlo, inconsolata, consolas, "fira mono","noto mono","droid sans mono","dejavu sans mono","liberation mono","ubuntu mono",monaco,"courier new",monospace;
    text-align:right;
  }
  th{
    text-transform:uppercase;
    letter-spacing:.05em;
    font-weight: 600;
  }
  td, th{
    line-height:1.25;
    padding:$space-s $space-m;
    vertical-align: top;
  }
