<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>
    {% include header.html %}
      <div class="">
        {{ content }}
      </div>
    {% include footer.html %}
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script>
    $(document).ready(function(){

      // Logo on Scroll
      var bodyHeight = $("body").height()-$(window).height();
      var scrollRate = (bodyHeight/20);
      window.onscroll = function() {
        var deg = $(window).scrollTop()*(360/scrollRate);
        //console.log("scroll");
        $(".wheel").css({
            "transform": "rotate("+deg+"deg)",
        });
      };

      //Expanding classes
      var showText = "Read +";
      var hideText = "Hide -";

      $('.expandableText').each(function () {
        var text = $(this);
        text.addClass('hidden');
        var link = $('<a class="toggleText toggle-button blue-50" href="#">' + showText + '</a>');
        $(this).before(link);
        link.click(function (event) {
          event.preventDefault();
          text.toggleClass('hidden');
          if (text.hasClass('hidden')) {
              $(this).html(showText);
          } else {
              $(this).html(hideText);
          }

        });
      });


      var showInterview = "Read Interview +";
      var hideInterview = "Hide Interview -";

       $('.interviewText').each(function () {
         var interview = $(this);
         interview.addClass('hidden');
         var interviewLink = $('<a class="toggleText toggle-button blue-50" href="#">' + showInterview + '</a>');
         $(this).before(interviewLink);

        interviewLink.click(function (event) {
          event.preventDefault();
          interview.toggleClass('hidden');
          if (interview.hasClass('hidden')) {
              $(this).html(showInterview);
          } else {
              $(this).html(hideInterview);
          }
        });
      });

    });

  </script>

</html>
