<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>
    {% include header.html %}
      <div class="">
        {{ content }}
      </div>
    {% include footer.html %}
  </body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script>
    $(document).ready(function(){
      // Logo on Scroll
      var bodyHeight = $("body").height()-$(window).height();
      var scrollRate = (bodyHeight/20);
      window.onscroll = function() {
        var deg = $(window).scrollTop()*(360/scrollRate);
        //console.log("scroll");
        $(".wheel").css({
            "transform": "rotate("+deg+"deg)",
        });
      };

      //
      // $('.expandable').each(function () {
      // .openExpandable

      // $('.block').click(function() {
      //   event.preventDefault();
      //   var tempHeight = $(this).height();
      //   $(this).parent('.setHeight').css({'height':tempHeight +'px'});
      //   //console.log(tempHeight);
      //   $(this).toggleClass('fullScreen');
      //   $('html').toggleClass('overflow-hidden');
      //   $(this).parent().toggleClass('setHeight');
      // });

      $('.toggleText').click(function() {
        event.preventDefault();
        $(this).next().toggleClass('open');
        $(this).toggleClass('expanded');
      });




      // $('.block.fullScreen').click(function() {
      //   $(this).removeClass('fullScreen');
      //   $('html').removeClass('overflow-hidden');
      //
      // });

      // Expanding classes
      // var maxheight=88;
      // var showText = "Read Interview";
      // var hideText = "Hide Interview";

      // $('.textContainer_Truncate').each(function () {
      //   var text = $(this);
      //   if (text.height() > maxheight){
      //       // text.css({ 'overflow': 'hidden','height': maxheight + 'px' });
      //       text.addClass('max-height-0');
      //       var link = $('<a class="navy" href="#">' + showText + '</a>');
      //       var linkDiv = $('<div></div>');
      //       linkDiv.append(link);
      //       $(this).after(linkDiv);
      //
      //       link.click(function (event) {
      //         event.preventDefault();
      //         if (text.height() > maxheight) {
      //             $(this).html(showText);
      //             text.addClass('max-height-0');
      //         } else {
      //             $(this).html(hideText);
      //             text.removeClass('max-height-0');
      //         }
      //       });
      //   }
      // });
    });
  </script>

</html>
